mask-block,
m-b {
    display: inline-block;
    margin: .1rem .05rem;
    padding: .1rem .5rem;
    color: #338;
    background-color: #338;
    font-size: 1rem;
    cursor: pointer;
}

mask-block.clicked,
m-b.clicked {
    background-color: #DDF;
}

mask-block:not(.clicked)::selection,
m-b:not(.clicked)::selection {
    color: transparent;
    background-color: transparent;
}
